@charset "UTF-8";

	/*===========文字樣式============*/
	body {
		font-family: "微軟正黑體","Microsoft JhengHei",transparent;; 
		font-size: 15px;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}

	.text_link_w { 
		color: #FFFFFF; 
		text-decoration: none; 
	}
	
	.text_link_w:hover { 		 		
		color: #FF0000; 
		color: #001993;		
		text-decoration: none; 
	}
	
	.text_link_dg {			 		
		color: #25861f; 
		text-decoration: none; 
	} 
	.text_link_dg:hover {			 		
		color: #ff0000; 
		text-decoration: none; 
	}
	
	.text_link_b {	
		color: #0000ff; 
		text-decoration: none; 
	} 
	.text_link_b:hover {			
		color: #ff0000; 
		text-decoration: none; 
	}	  
	
	/*===========分頁文字樣式============*/
	.pageText {
		font-size: 12px;
	}	
	
	/*===========欄位樣式============*/
	.field_q {
		COLOR: #333333;
		font-size: 12px;
		border: 1px #666666 solid
	}
	
	/*============End of 分頁文字樣式 =======*/
	 
	.copyRight {
	  	font-size: 10px; 
  		color: #b8b8b8;
	} 


	/*===========主畫面樣式============*/	
	.background1{
  		background:#008B8B;  		
  		background:#A0522D;
  		background:#3366cc;
	}
	
	.background2{ 
		background:#00CED1;
  		background:#E9967A;  		
  		background:#1E90FF;  		
	}   

	.background3{ 
		background:#FBFFFD;
  		background:#FDF5E6;	
  		background:#EFF9FF;	
  		
  		scrollbar-face-color:#E5E5E5; 
  		scrollbar-shadow-color:#aaaaaa; 
  		scrollbar-highlight-color:#aaaaaa; 
  		scrollbar-3dlight-color:#E5E5E5; 
  		scrollbar-darkshadow-color:#E5E5E5;	
  		scrollbar-track-color:#E5E5E5; 
  		scrollbar-arrow-color:#aaaaaa; 
	}

	.titleCFont { 
		font-family: "微軟正黑體","Microsoft JhengHei"; 
	  	font-size: 16px; 
  		font-weight:bolder; 
	  	color:#008B8B;
		color: #A0522D;
		color: #0000FF;	
	}
  
	.titleEFont { 
	  	font-size: 12px; 	
	 	color:#008B8B;
		color: #A0522D;			
		color: #0000FF;	 
	}
	
	
	/*===========欄位樣式============*/
	.field_P, .field_Q, .field_PQ,  .field {
		COLOR: #333333;
		font-size: 15px;
		border: 1px #666666 solid
	}
	
	.field_P:disabled, .field_Q:disabled, .field_PQ:disabled .field:disabled{
		COLOR: #BBBBBB;
		font-size: 15px;
		border: 1px #666666 solid
	}

	.field_PRO, .field_QRO, .field_RO {
		font-size: 15px;
		COLOR: #666666;
		background-color: #FFFFFF;
		border: 1px #FFFFFF solid;
		border-bottom-color: black;
		border-bottom-style: dashed;			
	}
	
	.field_PRO:disabled, .field_QRO:disabled, .field_RO:disabled {
		font-size: 15px;
		COLOR: #666666;
		background-color: #FFFFFF;
		border: 1px #FFFFFF solid;
		border-bottom-color: black;
		border-bottom-style: dashed;			
	}
  
	.toolbar_default {
		color: #000000;
    	background-color: #B7E1FE;
	    border: 1px solid #000000;
    	padding: 3px 0px 0px 0px;    
	    cursor: hand;
	}
	
	.toolbar_default:disabled {
		color: #BBBBBB;
    	background-color: #B7E1FE;
	    border: 1px solid #000000;
    	padding: 3px 0px 0px 0px;     
	    cursor: hand;
	}
  

	/*===========輸入FORM樣式============ height: 220px; */
	div#formContainer{
		width: 100%;
		height: 220px;		
		overflow: auto;
		scrollbar-base-color:#eeeeee;
	}	  
		
	.bg { 
  		border: 1px solid #000000;
	  	padding: 2px 2px 2px 2px;
	}
  
	.table_form {
		border: 0px solid white;
  		border-collapse: collapse;	
		background-color:#FFFFFF;
	}	
	
	.td_form  {
		text-align:right;
		background-color:#DEFFFB;
		padding: 2px 5px 2px 2px;
		border-left: 1px solid silver;
		border-bottom: 1px solid silver;
		border-right: 1px solid silver;
		border-top: 1px solid silver;		
	}	
  
	.td_form_white  {
		padding: 2px 5px 2px 2px;
		border-left: 1px solid silver;
		border-bottom: 1px solid silver;
		border-right: 1px solid silver;
		border-top: 1px solid silver;			
		background-color: #ffffff;
		text-align:left;
		height: 23px;		
	}	  


	/*===========查詢樣式============*/
	div#queryContainer{	
		position:absolute;
		z-index: 30;
		left:0;
		top :0;
	}

	iframe#queryContainerFrame{	
		position:absolute;
		z-index: -1;
		left:0;
		top :0;
	  	width: 100%;
  		height: 100%;		
	}

	.queryTitle{	
		padding: 5px 5px 5px 5px;
		background-color: #0000E2;
		color: white;
		border-top: 2px solid darkblue;
		border-left: 2px solid darkblue;
		border-right: 2px solid darkblue;	
	}
	
	.queryTable{ 
		border: 2px solid darkblue;
	  	background-color: #EBEBEB;
  		border-collapse: collapse;
	  	width: 100%;
  		height: 100%;
	}
	
	.queryTDLable{
		background-color:#DEFFFB;
		padding: 2px 2px 2px 2px;
		height:25px;
		text-align:right;	
		text-valign:bottom;	
	}
	
	.queryTDInput{
		background-color: #FFFFFF;
		padding: 2px 2px 2px 2px;
		height:25px;
		text-align:left;
		text-valign:bottom;	
	}


	/*===========列表樣式============ 180px*/
	div#listContainer{
		width: 100%;
		height: 100%;
		overflow: auto;
		scrollbar-base-color:#eeeeee;
		position:relative; top:0; left:0;
	}
		
	div#treeViewContainer{
		width: 100%;
		height: 450px;
		overflow: auto;
		scrollbar-base-color:#eeeeee;
		position:relative; top:0; left:0;
	}	
	/*
	div#listContainer thead th {
		top: expression(document.getElementById("listContainer").scrollTop-2); /* IE5+ only */
		z-index: 20;
	}
	
	div#listContainer thead th.locked {z-index: 30;}
	*/
	
	div#listContainer td.locked, div#listContainer th.locked{
		left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /* IE5+ only */
		position: relative;
		z-index: 10;
	}
	
	thead tr { 
		position: relative; 
		top: expression( 
			document.getElementById("listContainer") == null ? ( 
				document.getElementById("listContainer2") == null ? (
					document.getElementById("listContainer3") == null ? (0) : document.getElementById("listContainer3").scrollTop
				) : document.getElementById("listContainer2").scrollTop) 
			: document.getElementById("listContainer").scrollTop
		); 
	} 	

	.listTH{
		font-weight:normal;
		z-index: 20;
		padding: 4px 2px 2px 2px;
		color: white;
		text-align:center;
		height:23;	
		border-left: 1px solid white;
		border-bottom: 1px solid white;
		position:relative;
		background-color: #0000E2;
	}
	
	/**
	.listTR {
		background-color: white;
		cursor: auto;	
	}

	.listTRMouseover {
		background-color: #C2E2F5;
		cursor: hand;		
	}

	.listTD {
		border-left: 1px solid white;
		border-bottom: 1px solid white;		
		font-family: Verdana, Arial, Helvetica, sans-serif;		
		font-size: 12pt;
		line-height: 24px;		
		color: #115A86;		
		text-align: center;		
		height:23px;		
		background-color:#E6F3FB;
	}
	**/
	
	.listTR {
		font-family: Verdana, Arial, Helvetica, sans-serif;			
		background-color: #E6F3FB;
		cursor: auto;	
	}

	.listTRMouseover {
		font-family: Verdana, Arial, Helvetica, sans-serif;			
		/**color: #115A86;**/
		background-color: #C2E2F5;	
		cursor: hand;
	}

	.listTD {
		padding: 2px 5px 2px 2px;
		border-left: 1px solid white;
		border-bottom: 1px solid white;
		text-align: center;
		height:23px;
	}	
	
	
	/*===========頁籤樣式============*/	
	.tab_line1 {
		height: 2;
		background-color: #A6A6A6;
		border-right: thin #A6A6A6;
		border-left: thin #A6A6A6;
	}
	.tab_line2 {
		height: 2;
		background-color: #A6A6A6;
		border-right: thin #A6A6A6;
		border-left: thin #A6A6A6;
	}
	.tab_border1{	
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12pt;
		line-height: 24px;
		color: #FFFFFF;		
		background-color: #E00052;		
		border-left:solid thin #A6A6A6;
		border-top:solid thin #A6A6A6;
		border-right:solid thin #A6A6A6;			
		text-align:center
	}
	
	.tab_border2{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12pt;
		line-height: 24px;
		color: #000000;
		background-color: #F8C6E7;		
		border-top:solid thin #E0E0E0;
		border-right:solid thin gray;
		border-left:solid thin #E0E0E0;
		text-align:center;
		font-weight:normal
	}

	.tab_border3{
		font-family: "微軟正黑體","Microsoft JhengHei"; 
		font-size: 12px;	
		color:blue;
		background-color: #FDF5E6;
		border-left:thin solid #528B8B;
		border-right:thin solid #528B8B;
		border-bottom:thin solid #528B8B;
		text-align:center;	
	}


	/*===========苻合舊程式之樣式,可取消============*/  
	/* list樣式=>深灰 */
	.list_head  {
		padding: 4px 20px 2px 2px;
		background-color: #666666;
		color: #ffffff;
		text-align:left;
		height:25;
	}  
  
	.list_title  {
		padding: 4px 2px 2px 2px;
		background-color: #eeeeee;
		color: darkblue;
		text-align:center;
		height:25;
	}    
  
	.list_d1  {
		padding: 4px 2px 2px 2px;
		background-color: #ffffff;
		color: #000000;
		text-align:center;
		height:25;
		cursor:hand;
	}
  
	.list_d2  {
		padding: 4px 2px 2px 2px;
		background-color: #f9f9f9;
		color: #000000;
		text-align:center;
		height:25;
		cursor:hand;
	}
	
	.TDLable{
		background-color: #FDF5E6;
		padding: 2px 2px 2px 2px;
		height:25px;
		text-valign:bottom;	
	}	
	
	/*===========列表樣式============*/
	div#listMsg{
		font-family: "微軟正黑體","Microsoft JhengHei"; 
		font-size: 13px;
		color: yellow;		
		width: 100%;
		height: 32px;
		overflow:hidden;
		vertical-align:top;
	}
	
	a {
		color: #000000;
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
	}	
	
	.activeRow {
	font-family: Verdana, Arial, Helvetica, sans-serif;			
	text-align: center;
	height:18px;		
	color: blue;
	background-color: #ADFF5B;	
	border-left:solid 1px #FFFFFF;
	border-top:solid 1px #FFFFFF;
	border-right:solid 1px #FFFFFF;
	border-bottom::solid 1px #FFFFFF;			
	padding: 4px 2px 2px 2px;